<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Login</title>

    <link href="__STATIC__/adminex/css/style.css" rel="stylesheet">
    <link href="__STATIC__/adminex/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__STATIC__/adminex/js/html5shiv.js"></script>
    <script src="__STATIC__/adminex/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

<div class="container">

    <div class="form-signin" action="index.html">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">Sign In</h1>
            <img src="/Public/Manage/media/image/logo.png" width="70%" alt=""/>
        </div>
        <div class="login-wrap">
            <form method="post" action="/manage/login/login">
                <input type="text" class="form-control" placeholder="平台名称" autofocus name="username" value="{$old_input['username']}" required>
                <input type="password" class="form-control" placeholder="密码" name="password" required>
                <input class="form-control" type="text" placeholder="验证码" name="verify" id="verify" required>
                <img  height="40" alt="验证码" title="点击刷新" src="/Manage/verify/generate" onclick="javascript:this.src=this.src+'?time='+Math.random()">
                <!--错误输出-->
                <div class="form-group">
                    <div class="alert alert-danger fade in <if condition='empty($login_error)'>hidden</if>" id="alert_error">
                        <a href="#" class="close" data-dismiss="alert">×</a>
                        <span><if condition="!empty($login_error)">{$login_error}</if></span>
                    </div>
                </div>
                <button class="btn btn-lg btn-login btn-block" type="submit">
                    <i class="fa fa-check"></i>
                </button>
            </form>
            <div class="registration">
                还没有帐号?
                <a class="" href="/manage/register">
                    注册
                </a>
            </div>
        </div>
    </div>

</div>



<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__STATIC__/adminex/js/jquery-1.10.2.min.js"></script>
<script src="__STATIC__/adminex/js/bootstrap.min.js"></script>
</body>
</html>
